{plugins, [
           {rebar3_run, {git, "git://github.com/tsloughter/rebar3_run.git", {branch, "master"}}}
          ]}.

{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{deps, [
        {lager, {git, "git://github.com/basho/lager.git", {tag, "2.0.3"}}},
        {cowboy, {git, "git://github.com/extend/cowboy.git",{tag, "1.0.0"}}}
       ]}.

{relx, [{release, {internet_exam_system, "0.1.0"}, [internet_exam_system]},
        {dev_mode, false},
        {include_erts, false},
        {system_libs, false},
        {include_src, false},
        {sys_config, "conf/sys.config"},
        {vm_args, "conf/vm.args"},
        {extended_start_script, true}
       ]}.